body{
    margin: 0;
    height: 100vh;
    background-color: #ffacff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container{
    height: 50%;
    width: 40%;
}

h2{
    text-align: center; 
    font-size: 3rem;
}

.displayNumber{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 70px
    
}

.buttons{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btnAdd, .btnReset, .btnSubs{
    font-size: 1.2rem;
    box-shadow: 0 0 3px;
    border-radius: 10px;
    padding:5px;
    cursor: pointer;
    background-color: green;
    border: solid white 1px;
    color:#fff
}

.btnAdd:hover, .btnReset:hover, .btnSubs:hover{
    background-color: #fff;
    border: solid green 1px;
    color:green;
}